system:
  log_level: DEBUG
  bot_token: insert_your_bot_token_here
  command_prefix: '!'
  plugins:
    - cogs.responder
    - cogs.randomplaying
    - cogs.yoink
    - cogs.ftime
    - cogs.roller
    #- cogs.roleconcat
    #- cogs.bonk

RandomNowPlaying:
  intervalmin: 60
  intervalmax: 900
  items:
    - Hello Kitty Island Adventure
    - Death Stranding
    - Outer Wilds
    - Megaman Battle Network

Bonk:
  channel: 178310784450691142
  sticker: 143515690235752459

ChatGPT:
  api_key: 0

#sentry:
#  init_url: