system:
  log_level: DEBUG
  bot_token: insert_your_bot_token_here
  command_prefix: '!'
  plugins:
    - cogs.responder
    - cogs.randomplaying
    - cogs.yoink
    - cogs.ftime
    - cogs.roller
    #- cogs.chatgpt
    #- cogs.roleconcat
    #- cogs.bonk
  admin_roles:
    - Moderator
RandomNowPlaying:
  intervalmin: 60
  intervalmax: 900
  items:
    - Hello Kitty Island Adventure
    - Death Stranding
    - Outer Wilds
    - Megaman Battle Network

Bonk:
  709655247357739048:
    channel: 778310784450691142
    sticker: 943515690235752459

ChatGPT:
  api_key: 0
  model_name: gpt-3.5-turbo
  system_prompt:  "You are a helpful assistant."
#sentry:
#  init_url: