system:
  log_level: DEBUG
  bot_token: insert_your_bot_token_here
  command_prefix: '!'
  plugins:
    - cogs.responder
    - cogs.randomplaying
RandomNowPlaying:
  intervalmin: 60
  intervalmax: 900
  items:
    - Hello Kitty Island Adventure
    - Death Stranding
    - Outer Wilds
    - Megaman Battle Network
#sentry:
#  init_url:
TwitchNotifier:
  id: id goes here
  secret: secret goes here
  port: 8080
  myurl: https://url.to.this.server:8080
  cert_path: /home/pixl/fullchain.pem
  key_path: /home/pixl/fullchain.key