[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "~=2.4.0"
sentry-sdk = "*"
blitzdb = "~=0.4.4"
PyYAML = "*"
aiohttp = "*"
openai = "*"
tiktoken = "~=0.4.0"
dateparser = "*"
pytz = "*"
recurrent = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
black = "*"
coverage = "*"

[requires]
python_version = "3.9"
